body {
}

.nav {
    background-color: white;
    border-color: white;
    border-right-color: black;
    border-radius: 0%;
}
a {
    color: black;
    text-decoration: none;
}

.pdown {
    text-align: center;
}

.img {
    height: 70vh;
}

.b2 {
    direction: rtl;
}

.b3 {
    text-align: right;
    float: right;
}
.text {
    font-size: 20px;
    text-align: right;
}